table {
  border-collapse: collapse;
  width: 100%;
}

.result-container table {
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  overflow: hidden;
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;
  text-align: center;
}

td:first-child, th:first-child {
  padding-left: 20px;
  text-align: left;
}

td:last-child label:hover {
  cursor: pointer;
}

.result-container thead {
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
}

thead tr {
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-bottom: 1px solid transparent;
}

thead tr:hover {
  border-bottom: 1px solid transparent;
}

tr {
  border-bottom: 1px solid rgb(128, 128, 128);
}

tr:hover {
  border-bottom: 1px solid #535c70;
}

tr.saved {
  background-color: rgb(53, 77, 53);
  border-bottom: 1px solid rgb(83, 122, 83);
}

tr.saved:hover {
  background-color: rgb(60, 87, 60);
  border-bottom: 1px solid rgb(91, 133, 91);
}

tr:hover {
  background-color: #535c70;
}

tr:first-child {
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
}

tr:last-child {
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
}

.result-container tr:last-child th:first-child {
  border-end-start-radius: 5px;
}

.result-container tr:last-child th:last-child {
  border-end-end-radius: 5px;
}

thead tr {
  background-color: #373c49;
}
thead tr:hover {
  background-color: #373c49;
}

tr.selected {
  background-color: rgb(80, 80, 0);
  border-bottom: 1px solid rgb(131, 131, 0);
}

tr.selected:hover {
  background-color: rgb(97, 97, 0);
  border-bottom: 1px solid rgb(97, 97, 0);
}

.imei-tableContainer {
  color: black;
  position: fixed;
  top: 30px;
  left: calc(50vw - 150px);
  border: 5px solid rgb(5, 5, 116);;
  padding: 3px;
  border-radius: 10px;
}

.imei-tableContainer table {
  box-shadow: 0px 0px 30px black;
}

.imei-tableContainer div {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
}

.imei-tableContainer div td {
  width: 300px;
}

.imei-tableContainer table {
  width: 300px;
  background-color: white;
}

.imei-tableContainer thead tr{
  background-color: rgb(5, 5, 116);
  color: white;
  text-align: center;
}

.imei-tableContainer thead tr:hover {
  background-color: rgb(5, 5, 116);
  color: white;
}

.imei-tableContainer tr:hover {
  background-color: rgb(238, 238, 238);
}

.imei-tableContainer button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(5, 5, 116);
  border: 2px solid white;
  color: white;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
}