* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background-color: #23262e;
  color: white;
  position: relative;
}

::selection {
  background-color: white;
  color: black;
}

::-moz-selection {
  background-color: red;
}

*::-webkit-scrollbar {
  background-color: #434a5a;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.app {
  min-height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 100px;
}

.fixed {
  position: fixed;
  bottom: 58px;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed form {
  margin: 0 auto;
}

.button {
  background-color: #434a5a;
  height: 40px;
  min-width: 150px;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #262a33;
  transition: border 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #66718a;
}

.user-badge {
  background-color: #434a5a;
  display: flex;
  align-items: center;
  min-width: 200px;
  width: fit-content;
  height: 60px;
  border-radius: 50px;
  padding: 0 40px 0 10px;
  gap: 10px;
  margin-bottom: 10px;
}

.user-badge img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}

.user-badge span {
  display: block;
}

.user-badge span:first-child {
  color: rgb(209, 209, 209);
  font-size: 12px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  flex-grow: 1;
}

.private-components {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 10px;
}

.save-devices {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.save-devices .no-name-file-try {
  border: 3px solid rgb(255, 0, 0);
}

.save-devices.fixed {
  background-color: rgb(116, 116, 116);
  border: 3px solid rgb(116, 116, 116);
  border-radius: 5px;
}

.save-devices input {
  width: calc(100% - 139px);
  height: 25px;
  text-align: right;
  padding-right: 10px;
  background-color: #434a5a;
  color: white;
  border: 2px solid #434a5a;
  border-radius: 5px;
  margin-right: 5px;
  outline: #434a5a;
}

.save-devices input:focus {
  border: 2px solid #66718a;
}

.save-devices button {
  height: 25px;
  background-color: #434a5a;
  border-radius: 5px;
  border: none;
}

.toggle-fixed-button {
  margin-right: 5px;
  padding: 0 5px;
  vertical-align: bottom;
}

.save-button {
  width: 100px;
  color: white;
}

.save-devices button:hover {
  cursor: pointer;
  background-color: #383e4d;
}

.result-container {
  max-width: 800px;
  margin: 50px auto 10px;
}

.display-filesNames {
  position: fixed;
  top: 10px;
  right: 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid #373c49;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgb(31, 31, 31);
}

.display-filesNames button {
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(51, 56, 68);
}

.namesTable__container {
  max-height: 90vh;
  overflow-y: auto;
  background-color: white;
  background-color: #23262e;
}

.imei-textArea__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 500px;
  margin: 10px auto 0;
}


.imei-textArea__container textarea {
  width: 500px;
  height: 400px;
  resize: vertical;
  background-color: #434a5a;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.imei-textArea__container button {
  width: 150px;
  height: 50px;
}

.adm-certs__button {
  background-color: transparent;
  color: #76829e;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #76829e;
}

.adm-certs__button:hover {
  cursor: pointer;
  color: #a6b0c3;
}

.cert-manage__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, .7);
  z-index: 1;

  display: grid;
  place-items: center;
}

.cert-manage__container.hidden {
  display: none;
}

.cert-manage {
  width: 100%;
  max-width: 1000px;
  max-height: 98vh;
  overflow-y: auto;
  background-color: #23262e;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cert-manage h2 {
  /* margin-bottom: 20px; */
  width: 100%;
  text-align: center;
}

.cert-manage h3 {
  margin: 5px 0 0px;
  font-weight: normal;
  color: rgb(182, 182, 182);
}

.cert-manage .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: rgb(182, 182, 182);
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: border 0.3s ease-in-out;
}

.cert-manage .close-button:hover {
  cursor: pointer;
  border: 1px solid #434a5a;
}

.download-buttons__container {
  width: 100%;
}

.add-cert__container {
  width: 50%;
  min-width: 300px;
  padding: 20px 10px;
}

.add-cert__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.add-cert__form label {
  margin: 10px 0 5px;
  font-style: italic;
}

.add-cert__form input {
  background-color: #0a0b0e;
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 12px;
  color: white;
  border-radius: 5px;
}

.add-cert__form button {
  margin-top: 10px;
}

.add-result {
  margin: 10px 0 0;
  font-size: 14px;
  text-align: center;
  max-width: 300px;
}

.add-result.success {
  color: rgb(0, 255, 0);
}

.add-result.error {
  color: rgb(255, 255, 0);
}


.invalid-imei__container {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #434a5a;
  border: 3px solid rgb(53, 53, 53);
  border: 3px solid rgb(175, 175, 4);
  border-radius: 10px;
  margin-top: 30px;
}

.invalid-imei__container h3 {
  text-align: center;
}

.invalid-imei__container ul{ 
  padding-left: 12px;
  margin-top: 10px;
  list-style: none;
}

.invalid-imei__container hr {
  background-color: rgb(105, 105, 105);
  border-color: rgb(53, 53, 53);
  margin: 15px 0;
  border-style: solid;
  border-width: 1px;
}

.models-button, .certs-button {
  margin: 5px;
}

.delete-certs__wrapper {
  padding: 20px 10px;
}

.delete-certs__wrapper h3 {
  margin-bottom: 10px;
  
}

.delete-certs__container {
  height: 400px;
  overflow-y: auto;
  width: 430px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 10px rgb(32, 32, 32);
  
}

.cert-listItem {
  display: flex;
  height: 40px;
  align-items: center;
  height: fit-content;
  margin-bottom: 2px;
}

.cert-listItem div {
  padding: 5px 10px;
  display: grid;
  height: 40px;
  align-items: center;
  border: 1px solid gray;
  text-align: left;
}

.cert-model__item {
  width: 150px;
  position: relative;
}

.cert-modelabr__item {
  width: 100px;
}

.cert-number__item {
  width: 150px;
}

.cert-listItem .cert-listItem__tip {
  display: none;
  position: absolute;
  background-color: #0a0b0e;
  min-width: 150px;
  width: max-content;
  border-radius: 5px;
  border-color: transparent;
}

.cert-model__item:hover .cert-listItem__tip {
  display: grid;
  align-items: center;
  cursor: pointer;
}

.remove-cert__button {
  height: 40px;
  width: 35px;
  background-color: #0a0b0e;
  color: white;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.remove-cert__button:hover {
  cursor: pointer;
  border-color: red;
  color: red;
}